.body {
    width: 100vw;
    height: auto;
    background: linear-gradient(45deg, #323232, #1a1a1a);

}

.gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: linear-gradient(45deg, #323232, #1a1a1a);

  }
  
  .gallery img {
    width: 60%;
    height: auto;
    background-size: cover;
    border: 1rem solid white;
    margin-left: auto;
    margin-right: auto;
  }


  #floating-button {
    position: fixed;
    top: 5vh;
    right: 5vw;
    background-color: rgba(255, 0, 0, 0.5);
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    height: 6rem;
    width: 6rem;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
  }


  @media (max-width: 999px) and (orientation: landscape) {
    #floating-button {  
        font-size: 2rem;
        padding: 1rem;
        height: 8rem;
        width: 8rem;
     }  
  }

  @media (max-width: 999px) and (orientation: portrait) {
    .gallery {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.0) 60%, rgba(0, 0, 0, 0.5) 90%);
        background-size: cover; 
        background-attachment: scroll;
        background-repeat: no-repeat;
    }
    
    .gallery img {
        width: 95%;
      }
      #floating-button {  
        font-size: 2rem;
        padding: 1rem;
        height: 8rem;
        width: 8rem;
     }  
  }





