body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }
  
  .headerAndColumn{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url('img/belgradeWaterfront.jpg');
    background-repeat: no-repeat;
    background-size: 100% 125%;
  }
  
 
  
  .header {
    width: auto;
    height: 20vh;
    display: flex;
    background: linear-gradient(to bottom, cadetblue, #333333);
    margin: 0;
  }



  .logo {
    text-align: center;
    flex-grow: 1;
  }
  .logoPicture {
    width: 10rem;
    height: 15rem;
    background-image: url('img/vexLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  .contacts {
    flex-grow: 1;
    text-align: center;
  }
  .buttonSearchHolder {
    margin-right: auto;
    margin-left: auto;
    margin: 2rem;
  }
  .language {
    font-size: 1rem;
    color: brown;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    background: linear-gradient(to bottom, lightgray, white);
    padding: 1rem;
    display: inline;
    visibility: hidden;
  }
  .language:hover {
    background: linear-gradient(to bottom, white, lightgray);
  }
  .contactUs {
    font-size: 1rem;
    background: linear-gradient(to bottom right, red, darkred);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem;
  }
  .contactUs:hover {
    background: linear-gradient(to bottom right, darkred, red);
  }
  .linksBellowButtonSearchHolder a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border-left: 0.25rem solid white;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .linksBellowButtonSearchHolder a:hover{
    color: red;
  }
.backgroundOverlay {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

.buttonSearchHolder {
    margin-right: auto;
    margin-left: auto;
    margin: 2rem;
  }

  .naviButton {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.25);
    background-image: url('img/bottomArrow.png');
    border-radius: 50%;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
  }



#container button {
    width: 50%;
    margin: 10px auto;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 0.25rem solid white;
    color: white;
    background-color: darkgreen;
    display: block;
}

h1 {
    color: white;
    text-align: center;
}

#container {
    width: 60vw;
    height: 75vh;
    border: 0.25rem solid green;
    margin: 2vh auto;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url('webAppModelOneImage/weaponLover.jpg');
    background-position: center;
    font-weight: bolder;
    background-size: 100% 100%;
    
}

.subscribeContainer{
    width: 600px;
    height: 100px;
    padding: 2.5%;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 15%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));

}


form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    color: white;
    font-size: 1.5rem;
}

label {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

input {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

button {
    padding: 1rem;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

button:hover {
    background-color: #45a049;
}


.theLastColumn {
  min-width: 100%;
  height: 30vh;
  text-align: left;
  color: white;
  background: linear-gradient(to top, cadetblue, #333333);
  margin: 0%;
  padding: 0%;
  bottom: 0;
}
  
  
  .columnOneTwoThree {
    width: 80%;
    height: 20vh;
    display: grid;
    grid-template-areas: 
    "fir sec thi";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5%;
    bottom: 0;
  }
  
  .firstPartColumn{
    flex-grow: 1;
    width: 100%;
    height: auto;
    text-align: right;
    border-right: 0.25rem solid white;
    padding-right: 5%;
  }
  
  .firstPartColumn img  {
    width: 10rem;
    height: 7.5rem;
    cursor: pointer;
  }
  
  .firstPartColumn a {
    font-weight: bold;
    color: white;
  }
  
  .secondPartColumn{
    flex-grow: 1;
    text-align: center;
    padding: 0.5rem;
  }
  
  .secondPartColumn a {
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .thirdPartColumn{
    flex-grow: 1;
    text-align: left;
    padding-left: 5%;
    border-left: 0.25rem solid white;
  }
  
 
.secondPartColumnGridInside {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-areas: 
  "one two" 
  "thre";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}
  
  .thirdPartColumnBox {
    width: 50%;
    height: auto;
    border: 0.20rem dotted white;
    border-radius: 5%;
    margin-top: 5%;
    padding: 0.5rem;
  }
  
  .subscribe {
    margin-top: 2.5%;
    background: linear-gradient(to bottom right, red, darkred);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .subscribe:hover {
    background: linear-gradient(to bottom right, darkred, red);
  }
  
  h2{
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
  }
  
  p{
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
  }


  @media (max-width: 1025px) {
    .language{
      font-size: 1.5rem;
    }
    .contactUs{
      font-size: 1.5rem;
    }
    .linksBellowButtonSearchHolder a{
      font-size: 1.5rem;
    }
  
  }

  @media (max-width: 999px) and (orientation: landscape) {
    .header {
      height: 60vh;
      width: 100%;
      display: flex;
    }
    .headerAndColumn{
      width: 100%;
      height: 200vh;
    }

    .theLastColumn {
      height: auto;
      width: 100vw;
      display: flex;
    }
    .columnOneTwoThree{
      width: 100vw;
      height: AUTO;
    }
  }



  @media (max-width: 999px) and (orientation: portrait) {
   body{
    height: 100vh;
    width: 100%;
    background-size: 100% 150%;
    background-position: center;
   }

   header{
    height: 20vh;
    width: 100%;
  }
 .textUnderButtonOneLearnMore {
   font-size: 1.5rem;
  }
   .headerAndColumn{
    width: 100%;
    height: 100vh;
  }

  .theLastColumn {
    height: auto;
    width: 100vw;
    display: flex;
  }
  .columnOneTwoThree{
    width: 100vw;
    height: AUTO;
  }

  }


