
body {
    width: 100%;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
  }
  
  .headerAndColumn{
    width: 100vw;
    height: 105vh;
  }
  
  .header {
    width: 100%;
    height: 25vh;
    display: flex;
    background: linear-gradient(to bottom, cadetblue, #333333);
    margin: 0;
  }
  .logo {
    text-align: center;
    flex-grow: 1;
  }

  .logoPicture {
    width: 10rem;
    height: 15rem;
    background-image: url('img/vexLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  .contacts {
    flex-grow: 1;
    text-align: center;
  }

  .buttonSearchHolder {
    margin-right: auto;
    margin-left: auto;
    margin: 2rem;
  }

  .language {
    font-size: 1rem;
    color: brown;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    background: linear-gradient(to bottom, lightgray, white);
    padding: 1rem;
    display: inline;
    visibility: hidden;
  }

  .language:hover {
    background: linear-gradient(to bottom, white, lightgray);
  }

  .contactUs {
    font-size: 1rem;
    background: linear-gradient(to bottom right, red, darkred);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem;
  }

  .contactUs:hover {
    background: linear-gradient(to bottom right, darkred, red);
  }
  
  .linksBellowButtonSearchHolder a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border-left: 0.25rem solid white;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .linksBellowButtonSearchHolder a:hover{
    color: red;
  }
.backgroundOverlay {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}



h1 {
    color: white;
    text-align: center;
}

.columnMid{
  height: 80vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #333333;
}


#mkTopMap {
  width: 100%;
  height: 80%;
  background-image: url('webAppModelThreeImage/mkTopMap.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
}

#mkBottomMap {
  width: 100%;
  height: 20%;
  background-image: url('webAppModelThreeImage/mkBottomMap.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
}

#SonyaBlade {
  width: 150px;
  height: 450px;
  position: absolute;
  bottom: -3vh; 
}

#SonyaBladeHead {
  width: 150px;
  height: 50px;
  border: 2px solid white;
}

#JoeBiden {
  width: 150px;
  height: 500px;
  position: absolute;
  bottom: -1vh; 
  background-image: url('webAppModelThreeImage/boxingBag.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


#bidenPartOne{
  width: 100px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
}

#bidenPartTwo{
  width: 100px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
}

#bidenPartThree{
  width: 100px;
  height: 120px;
  background-image: url('webAppModelThreeImage/JoeBidenLegs.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
}

#bidenPartFour{
  width: 120px;
  height: 130px;
  background-image: url('webAppModelThreeImage/JoeBidenFeet.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
}

#SonyaBladeWalk {
  width: 150px;
  height: 450px;
  background-image: url("webAppModelThreeImage/SonyaStanding.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


#leftArmPunch{
  width: 150px;
  height: 100px;
  position: relative;
 border: 2px solid white;
}

#rightLegHichKick{
  width: 150px;
  height: 150px;
  position: relative;
  border: 2px solid black;
}


#secondColumn {
  width: 100%;
  height: 30vh;
  background-color: #333333;
  text-align: center;
  color: aliceblue;
  font-size: larger;
  font-family: fantasy;
}

#controllerGrid{
  width: 100%;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas: 
  "zzz zzz zzz zzz zzz zzz zzz zzz mmm mmm mmm mmm"
  "lll em1 aUP em2 sex ve2 em4 222 777 blo em6 ddd"
  "lll aLE em3 aRI bbb xxx em4 222 pun 111 kik ddd"
  "lll em7 aDO em8 bbb xxx em9 222 77 down end ddd"
  "kkk kkk kkk kkk kkk kkk kkk kkk kkk mdf mdf mdf";
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr); ;
  background: radial-gradient(cadetblue,cadetblue, cadetblue,black);
}

#box02{
grid-area: aUP;
border: 0.25rem solid whitesmoke;
background-image: url("webAppModelThreeImage/arrowUpImage.png");
background-position: center;
background-size: 50% 50%;
background-repeat: no-repeat;
border-radius: 50%;
}

#box00{
grid-area: aLE;
background-image: url("webAppModelThreeImage/arrowLeftImage.png");
background-position: center;
background-size: 50% 50%;
background-repeat: no-repeat;border: 0.25rem solid whitesmoke;
border-radius: 50%;
}

#box01{
  grid-area: aRI;
  border: 0.25rem solid whitesmoke;
  background-image: url("webAppModelThreeImage/arrowRightImage.png");
  background-position: center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  }#box03{
    grid-area: aDO;
    border: 0.25rem solid whitesmoke;
    background-image: url("webAppModelThreeImage/arrowDownImage.png");
    background-position: center;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    }#box04{
      grid-area: pun;
      border: 0.25rem solid whitesmoke;
      background-image: url("webAppModelThreeImage/squareButtonImage.png");
      background-position: center;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      border-radius: 50%;
      }#box05{
        grid-area: blo;
        border: 0.25rem solid whitesmoke;
        background-image: url("webAppModelThreeImage/triangleButtonImage.png");
        background-position: center;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 50%;
        }#box06{
          grid-area: kik;
          border: 0.25rem solid whitesmoke;
          background-image: url("webAppModelThreeImage/circleButtonImage.png");
          background-position: center;
          background-size: 50% 50%;
          background-repeat: no-repeat;
          border-radius: 50%;
          }#box07{
            grid-area: down;
            border: 0.25rem solid whitesmoke;
            background-image: url("webAppModelThreeImage/XXXButtonImage.png");
           background-position: center;
            background-size: 50% 50%;
            background-repeat: no-repeat;
            border-radius: 50%;
            }
          #box08{
            grid-area: em2;
            border: 0.25rem solid whitesmoke;
            background-image: url("webAppModelThreeImage/arrowUpRightTriangle.png");
            background-position: center;
            background-size: 80% 80%;
            background-repeat: no-repeat;
            border-radius: 50%;
            } 

           


            #box09{
              grid-area: em1;
              border: 0.25rem solid whitesmoke;
              background-image: url("webAppModelThreeImage/arrowUpBack.png");
              background-position: center;
              background-size: 50% 50%;
              background-repeat: no-repeat;
              border-radius: 50%;
              } 

        

                  #box12{
                    grid-area: sex;
                    border: 0.25rem solid whitesmoke;
                    background-image: url("webAppModelThreeImage/arrowUpRightXXX.png");
                    background-position: center;
                    background-size: 80% 80%;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    }  

#arrowUp {
width: 100%;
height: 100%;
border-radius: 50%;
background-color: rgba(0, 0, 0, 0.5);
}

#arrowLeft {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  }
  #arrowUpBack {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    }

#arrowRight {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    }


    #arrowUpRightLeg {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      }
  

    #arrowUpRight {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      }

#arrowDown {
  width: 100%;
height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
      }

#leftArmPunchButton {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  }

  #leftArmPunchJumpButton {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    }

  #blockTopButton {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #rightLegHighKickButton {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #rightLegHighKickJumpButton {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #arrowDownKickButton {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
  }


.columnOneTwoThree {
  width: 8%;
  height: 30vh;
  display: grid;
  grid-template-areas: 
  "fir sec thi";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5%;
  bottom: 0;
}

.firstPartColumn{
  flex-grow: 1;
  width: 100%;
  height: auto;
  text-align: right;
  border-right: 0.25rem solid white;
  padding-right: 5%;
}

.firstPartColumn img  {
  width: 10rem;
  height: 7.5rem;
  cursor: pointer;
}

.firstPartColumn a {
  font-weight: bold;
  color: white;
}

.secondPartColumn{
  flex-grow: 1;
  text-align: center;
  padding: 0.5rem;
}

.secondPartColumn a {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.thirdPartColumn{
  flex-grow: 1;
  text-align: left;
  padding-left: 5%;
  border-left: 0.25rem solid white;
}


.secondPartColumnGridInside {
display: grid;
width: 80%;
height: 80%;
grid-template-areas: 
"one two" 
"thre";
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
margin-left: auto;
margin-right: auto;
}

.thirdPartColumnBox {
  width: 50%;
  height: auto;
  border: 0.20rem dotted white;
  border-radius: 5%;
  margin-top: 5%;
  padding: 0.5rem;
}

.subscribe {
  margin-top: 2.5%;
  background: linear-gradient(to bottom right, red, darkred);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}

.subscribe:hover {
  background: linear-gradient(to bottom right, darkred, red);
}

h2{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
}

p{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
}

.columnOneTwoThree {
  width: 80%;
  height: 30vh;
  display: grid;
  grid-template-areas: 
  "fir sec thi";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5%;
 
}

.firstPartColumn{
  flex-grow: 1;
  width: 100%;
  height: auto;
  text-align: right;
  border-right: 0.25rem solid white;
  padding-right: 5%;
}

.firstPartColumn img  {
  width: 10rem;
  height: 7.5rem;
  cursor: pointer;
}

.firstPartColumn a {
  font-weight: bold;
  color: white;
}

.secondPartColumn{
  flex-grow: 1;
  text-align: center;
  padding: 0.5rem;
}

.secondPartColumn a {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.thirdPartColumn{
  flex-grow: 1;
  text-align: left;
  padding-left: 5%;
  border-left: 0.25rem solid white;
}


.secondPartColumnGridInside {
display: grid;
width: 80%;
height: 80%;
grid-template-areas: 
"one two" 
"thre";
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
margin-left: auto;
margin-right: auto;
}

.thirdPartColumnBox {
  width: 50%;
  height: auto;
  border: 0.20rem dotted white;
  border-radius: 5%;
  margin-top: 5%;
  padding: 0.5rem;
}

.subscribe {
  margin-top: 2.5%;
  background: linear-gradient(to bottom right, red, darkred);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}

.subscribe:hover {
  background: linear-gradient(to bottom right, darkred, red);
}

h2{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
}

p{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
}


.theLastColumn {
  width: 100%;
  height: 50vh;
  text-align: left;
  color: white;
  background: linear-gradient(to top, cadetblue, #333333);
  background-size: 100% 100%;
}



@media  (max-width: 999px) {




  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }


    
    .language{
        font-size: 1.5rem;
      }
      .contactUs{
        font-size: 1.5rem;
      }
      .linksBellowButtonSearchHolder a{
        font-size: 1.5rem;
      }

#controllerGrid{
  width: 99%;
}

@media (max-width: 999px) and (orientation: landscape) {




.header{
    display: none;
}

.body{
    height: auto;
    width: 100%;
}

.columnMid{
  height: 120vh;
}
#columnMid{
  height: 120vh;
}

.theLastColumn{
  display: none;
}

.columnOneTwoThree{
  display: none;
}

#mkTopMap {
  height: 60%;
}
#mkBottomMap {
  height: 40%;
}


  }

  @media (max-width: 999px) and (orientation: portrait) {
   

    body {
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    
    header{
      height: 25vh;
      width: 100%;
    }
   .textUnderButtonOneLearnMore {
     font-size: 1.5rem;
     }
     .headerAndColumn{
      width: 100%;
      height: 105vh;
    }
   


    #mkTopMap {
      height: 65%;
    }
    #mkBottomMap {
      height: 35%;
    }

.theLastColumn {
  height: auto;
  width: 100vw;
  display: flex;
}
.columnOneTwoThree{
  width: 100vw;
  height: AUTO;
}


}

}

